# PyCon Korea Application Auth information

PYCONKR_GITHUB_CLIENT_ID = ''
PYCONKR_GITHUB_CLIENT_SECRET = ''
PYCONKR_GOOGLE_CLIENT_ID = ''
PYCONKR_GOOGLE_CLIENT_SECRET = ''
PYCONKR_FACEBOOK_CLIENT_ID = ''
PYCONKR_FACEBOOK_CLIENT_SECRET = ''
PYCONKR_NAVER_CLIENT_ID = ''
PYCONKR_NAVER_CLIENT_SECRET = ''
